body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: darkred;
  color: white;
  height: 75px;
  padding: 0 25px;
  font-weight: bold
}

header h1 {
  font-size: 30px;
  float: left;
  margin-top: 20px;
  margin-bottom: 15px;
}

header nav {
  float: right;
  font-size: 16px;
  margin-top: 25px;
  margin-bottom: 15px;
  text-decoration: underline;
}

div {
  background: darkslategray;
  height: 50px;
}

div nav ul li{
  color: white;
  float: right;
  font-size: 16px;
  padding: 0 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-decoration: underline;
}

section {
  float: left;
  margin: 0 1.5%;
  width: 60%;
  text-align: left;
}

section img {
  display: inline-block;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
}

section h2 {
  font-size: 22px;
  font-weight: bold;
  padding-left: 25px;
  padding-bottom: 20px;
}

section nav {
  float: right;
  font-size: 16px;
  margin-top: 25px;
  margin-bottom: 15px;
  text-decoration: underline;
}

section nav .link {
  padding-bottom: 40px;
}

section nav h4 {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
}

section .text {
  font-size: 15px;
  padding-left: 25px;
  padding-bottom: 20px;
}

footer {
  clear: both;
  background: darkslategray;
  height: 75px;
  padding: 0 25px;
}

footer p {
  color: white;
  font-size: 15px;
  float: left;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}